<div *ngIf="user && user.user.student">
  <table class="table table-striped">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image URL</th>
    </thead>
    <tr *ngFor="let achieve of achievements" (click)="selected = achieve">
      <td>{{ achieve.name }}</td>
      <td>{{ achieve.description }}</td>
      <td>{{ achieve.imageUrl }}</td>
    </tr>
  </table>

  <h3>Meeting Registrations:</h3>
  <table class="table table-striped">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Date/Time</th>
    </thead>
    <tr *ngFor="let meeting of user.meetings">
      <td>{{ meeting.name }}</td>
      <td>{{ meeting.location.name }}</td>
      <td>{{ meeting.scheduledTime }}</td>
    </tr>
  </table>
</div>


<div *ngIf="user && user.user.parent">
    <div class= "form-card">
  <br /><br />

  <div class= "form-card">
      <button class="mat-primary mat-raised-button "  (click)="openCreateChild()">+ Add Child</button>

      <div *ngIf="createChild" class="col">
          <form #NewChild="ngForm" class="px-4 py-3">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input
                  type="firstName"
                  class="view "
                  id="firstName"
                  name="firstName"
                  ngModel
                />
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input
                  type="lastName"
                  class="view "
                  id="lastName"
                  name="lastName"
                  ngModel
                />
              </div>
              <div class="form-group">
                <label for="nickname">Nickname</label>
                <input
                  type="nickname"
                  class="view "
                  id="nickname"
                  name="nickname"
                  ngModel
                />
              </div>
              <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" class="view " id="dob" name="dob" ngModel />
              </div>
            </form>
          <button class="mat-secondary mat-raised-button mr-5 "  (click)="createChild = false;">Cancel</button>
          <button class="mat-primary mat-raised-button "  (click)="addChild(NewChild)">Save</button>
      </div>

  </div>

  <h1 class="ml-3 mt-5">See Progress of:</h1>
  <div class="row">
    <div *ngFor="let child of user.children" class="col-md-4">
      <div class="wrapper">
        <div class="card radius shadowDepth1">
          <div class="card__image border-tlr-radius">
            <img
              src={{child.userImageUrl}}
              alt="image"
              class="border-tlr-radius"
            />
          </div>

          <div class="card__content card__padding">
            <div class="card__share">
              <a id="share" class="share-icon" (click)="navigateToUserProfile(child.user.username, user.user.username)">
                <button mat-icon-button class="remove-btn-border mt-2">
                  <mat-icon color="primary" class="mat-18">edit</mat-icon>
                </button></a>
            </div>
            <article class="card__article">
              <h2>
                {{ child.firstName }} {{ child.lastName }}
              </h2>
              <h5>  {{ child.nickname }}</h5>

              <div class="row">
                <div class="col-md-2">
                  <p>Email</p>
                  <p>Phone</p>
                  <p>DOB</p>
                  <p>Gender</p>
                  <p>Location</p>

                </div>
                <div class="col-md-6">
                    <p>{{ child.email }}</p>
                    <p>{{ child.phoneNumber }}</p>
                    <p>{{ child.dob }}</p>
                    <p>{{ child.gender }}</p>
                    <p>{{ child.location.name }}</p>
                </div>
              </div>
              <div *ngIf="child.achievments && child.achievments.length >0">
              <h5>Achivements: </h5>
              <div class="row achivmentsSection">

                  <div class="col-sm-3">
                    <div>Total </div>


                  </div>
                  <div class="col-sm-6">
                      <div> {{child.achievments.length}} </div>

                  </div>
                  <div class="col-sm-4">
                      <h6>Achieved:</h6>
                  </div>
                  <div class="col-sm-6">
                      <ul *ngFor="let item of child.achievments">
                          <div *ngIf="item.achieved">

                            <p>{{item.achievement.name}}</p>
                          </div>

                        </ul>
                  </div>
                  <div class="col-sm-4">
                      <h6>In Progress:</h6>
                  </div>
                  <div class="col-sm-6">
                      <ul *ngFor="let item of child.achievments">
                          <div *ngIf="!item.achieved">

                            <p>{{item.achievement.name}}</p>
                          </div>

                        </ul>
                  </div>

              </div>

              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
