<div *ngIf="user && !editUser">
    <form>
      <label>ID: {{user.id}}</label>
      <br>
      <label>Username
      <input type="text" name="username" disabled [ngModel]="user.username">
      </label><br>
      <label>Password
      <input type="text" name="password" disabled [ngModel]="user.password">
      </label><br>
      <label>Enabled?
      <input type="checkbox" name="enabled" disabled [ngModel]="user.enabled">
      </label><br>
    </form>
  <button (click)="user = null;">Back</button>
  <button (click)="editUser = true;">Edit</button>
</div>

<div *ngIf="editUser">
    <form #EditUserForm="ngForm">
          <label>ID: {{user.id}}</label>
          <br>
          <label>Username
          <input type="text" name="username" [ngModel]="user.username">
          </label><br>
          <label>Password
          <input type="text" name="password" [ngModel]="user.password">
          </label><br>
          <label>Enabled?
            <input type="checkbox" name="enabled" [ngModel]="user.enabled">
          </label><br>
      </form>
    <button (click)="editUser = false;">Cancel</button>
    <button (click)="updateUser(EditUserForm)">Save</button>
</div>

<div *ngIf="!user && !editUser">
  <ul *ngFor="let u of users" (click)="user = u;">
    <li>{{u.id}}</li>
    <li>{{u.username}}</li>
    <li>{{u.password}}</li>
  </ul>
</div>
