
.containerUsers{
  margin: 4%;
  border-top: solid 1px #ededed;
  padding-top: 20px;
}
mat-form-field {
  display: flex;
  align-content: space-evenly;
}

.containerUsers{
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.56s cubic-bezier(0.25, 0.8, 0.25, 1);
	max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.containerUsers:hover, .containerUsers:focus {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.containerUsers:focus-within {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}
