<div class="containerUsers" *ngIf="!user && !editUser">
  <div class= "form-card">
    <div  class="location-div row">
      <div class="col">
            <mat-form-field>
              <mat-label>Select Role</mat-label>
              <mat-select (selectionChange)="loadUsersByRole($event.value)" [(ngModel)]="selectedRoleFilter" name="roleFilterDropdown">
                <mat-option value="all">
                  All Users
                </mat-option>
                <mat-option *ngFor="let role of roles" [value]="role.name">
                  {{role.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="col">
            <mat-form-field>
              <mat-label>Select Location</mat-label>
              <mat-select (selectionChange)="loadUsersByLocation($event.value)" [(ngModel)]="selectedLocationFilter" name="locationFilterDropdown">
                <mat-option value="all">
                  All Locations
                </mat-option>
                <mat-option *ngFor="let loc of locations" [value]="loc.id">
                  {{loc.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="col">
            <mat-form-field class="search-form-field" floatLabel="never">
              <input
                matInput
                [(ngModel)]="searchKey"
                placeholder="Search"
                autocomplete="off"
                (keyup)="applyFilter()"
              />
            </mat-form-field>
      </div>
  </div>
  <hr>
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
          <mat-cell *matCellDef="let user" (click)="showUser(user.username);">{{ user.firstName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <mat-header-cell
            *matHeaderCellDef
            className="mat-sort-header-button"
            mat-sort-header>
            Last Name
          </mat-header-cell>
          <mat-cell *matCellDef="let user" (click)="showUser(user.username);">{{ user.lastName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="nickname">
          <mat-header-cell
            *matHeaderCellDef
            className="mat-sort-header-button"
            mat-sort-header>
            Nickname
          </mat-header-cell>
          <mat-cell *matCellDef="let user" (click)="showUser(user.username);">{{ user.nickname }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="username">
          <mat-header-cell
            *matHeaderCellDef
            className="mat-sort-header-button"
            mat-sort-header>
            Username
          </mat-header-cell>
          <mat-cell *matCellDef="let user" (click)="showUser(user.username);">{{ user.username }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
          <mat-header-cell
            *matHeaderCellDef
            className="mat-sort-header-button"
            mat-sort-header>
            Phone Number
          </mat-header-cell>
          <mat-cell *matCellDef="let user" (click)="showUser(user.username);">{{ user.phoneNumber }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
              <mat-spinner color="primary"></mat-spinner>Loading data...
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No data.
          </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-footer-row
          *matFooterRowDef="['loading']"
          [ngClass]="{ hide: listData != null }"
        ></mat-footer-row>
        <mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{ hide: !(listData != null && listData.data.length == 0) }"
        ></mat-footer-row>
      </mat-table>
      <mat-paginator
        [pageSizeOptions]="[1, 10, 25, 100]"
        [pageSize]="5"
        showFirstLastButtons
      ></mat-paginator>
  </div>
</div>


<div *ngIf="user" class= "containerUsers">
  <div class="location-div row">
    <div class="col">
        <div *ngIf="user && !editUser">
            <form>
              <label>First Name
              <input type="text" name="firstName" disabled [ngModel]="user.firstName">
              </label><br>
              <label>Last Name
              <input type="text" name="lastName" disabled [ngModel]="user.lastName">
              </label><br>
              <label>Nickname
              <input type="text" name="nickname" disabled [ngModel]="user.nickname">
              </label><br>
              <label>Username
              <input type="text" name="username" disabled [ngModel]="user.user.username">
              </label><br>
              <label>Email
              <input type="text" name="email" disabled [ngModel]="user.email">
              </label><br>
              <label>Phone Number
              <input type="text" name="phoneNumber" disabled [ngModel]="user.phoneNumber">
              </label><br>
              <label>DOB
              <input type="text" name="dob" disabled [ngModel]="user.dob">
              </label><br>
              <label>Location
              <input type="text" name="location" disabled [ngModel]="user.location.name">
            </label><br>
            <div *ngIf="user.user.roles && user.user.roles.length > 0">
              <mat-form-field>
                <mat-label>Roles</mat-label>
                <select matNativeControl>
                  <option></option>
                  <option *ngFor="let role of user.user.roles">{{role.name}}</option>
                </select>
              </mat-form-field>
              <br>
            </div>
            <div *ngIf="user.parents && user.parents.length > 0">
              <mat-form-field>
                <mat-label>Parents</mat-label>
                <select matNativeControl #p (change)="showUser(p.value)" >
                  <option></option>
                  <option *ngFor="let parent of user.parents" [value]="parent.user.username">{{parent.firstName}} {{parent.lastName}}</option>
                </select>
              </mat-form-field>
              <br>
            </div>
            <div *ngIf="user.children && user.children.length > 0">
              <mat-form-field>
                <mat-label>Children</mat-label>
                <select matNativeControl #c (change)="showUser(c.value)" >
                  <option></option>
                  <option *ngFor="let child of user.children" [value] = "child.user.username" >{{child.firstName}} {{child.lastName}}</option>
                </select>
              </mat-form-field>
              <br>
            </div>
            </form>
          <button (click)="user = null;">Back</button>
          <button (click)="editUser = true;">Edit</button>
        </div>

        <div *ngIf="editUser">
            <form #EditUserForm="ngForm">
                <label>First Name
                <input type="text" name="firstName" [ngModel]="user.firstName">
                </label><br>
                <label>Last Name
                <input type="text" name="lastName" [ngModel]="user.lastName">
                </label><br>
                <label>Nickname
                <input type="text" name="nickname" [ngModel]="user.nickname">
                </label><br>
                <label>Username
                <input type="text" name="username" [ngModel]="user.user.username">
                </label><br>
                <label>New Password
                <input type="password" name="password" [ngModel]="user.user.password">
                </label><br>
                <label>Email
                <input type="email" name="email" [ngModel]="user.email">
                </label><br>
                <label>Phone Number
                <input type="text" name="phoneNumber" [ngModel]="user.phoneNumber">
                </label><br>
                <label>DOB
                <input type="date" name="dob" [ngModel]="user.dob">
                </label><br>
                <label>Location
                <input type="text" name="location" disabled [ngModel]="user.location.name">
                </label><br>
                <div *ngIf="user.parents && user.parents.length > 0">
                    <mat-form-field>
                      <mat-label>Parents</mat-label>
                      <select matNativeControl #p (change)="showUser(p.value)" >
                        <option></option>
                        <option *ngFor="let parent of user.parents" [value]="parent.user.username">{{parent.firstName}} {{parent.lastName}}</option>
                      </select>
                    </mat-form-field>
                    <br>
                  </div>
                  <div *ngIf="user.children && user.children.length > 0">
                    <mat-form-field>
                      <mat-label>Children</mat-label>
                      <select matNativeControl #c (change)="showUser(c.value)" >
                        <option></option>
                        <option *ngFor="let child of user.children" [value] = "child.user.username" >{{child.firstName}} {{child.lastName}}</option>
                      </select>
                    </mat-form-field>
                    <br>
                  </div>
              </form>
            <button (click)="editUser = false; ">Cancel</button>
            <button (click)="updateUser(EditUserForm)">Save</button>
        </div>
    </div>

    <div class="col">
      <div *ngIf="!editUser">
          <button [routerLink]="'/user/' + user.user.username">Visit {{user.firstName}}'s Profile</button>
      </div>
    </div>

    <div class="col">
      <div *ngIf="editUser">
        <h3>Update Roles</h3>
          <form [formGroup]="editUserRolesForm">
            <div *ngFor="let role of roles">
              <mat-checkbox type="checkbox" [checked]="userHasRole(role.name)" (change)="onChange(role, $event.checked)"> {{role.name}}</mat-checkbox>
              <br>
            </div>
            <button (click)="updateUserRoles(user)">Save Roles</button>
          </form>
      </div>
    </div>
  </div>
</div>
