<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/home']">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"> -->
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users']">Users </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/schedule']">Meetings</a>
        </li>
      </ul>
    </div>
      <app-login></app-login>
  </nav> -->

  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!--  <span>HOME</span> -->
         <a [routerLink]="['/home']"><img  class="imglogo" src="../../../assets/coderdojowhite1.png" /></a>
         <span class="spacer"></span>
         <a class="nav-link-mat" [routerLink]="['/schedule']">Meetings</a>

        <span><app-login></app-login></span>
      </mat-toolbar-row>
   </mat-toolbar>
