<div class="container-fluid mt-2">
  <div class="row m-3 top-row ">
    <div class="col-md-6 col-sm-12 ">
      <div class="card card-block scroll">
        <div class="card-body">
          <h3>MEETINGS</h3>
          <app-meeting></app-meeting>
        </div>
      </div>
    </div>
    <div class="col-md-6  col-sm-12 ">
      <div class="card  card-block scroll">
        <div class="card-body">
          <h3>USER DETAILS</h3>
          <app-admin></app-admin>
      </div>
      </div>
    </div>
  </div>
  <div class="row m-3">
      <div class="col-md-6 mb-3 col-sm-12 ">
        <div class="card card-block scroll">
          <div class="card-body">
            <h3>ACHIEVEMENTS</h3>
            <app-all-achievements></app-all-achievements>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 col-sm-12 ">
        <div class="card card-block scroll">
          <div class="card-body">
            <h3>STUDENT ACHIEVEMENTS</h3>
            <app-student-achievement></app-student-achievement>
        </div>
        </div>
      </div>
  </div>
</div>
