<div>
  <div *ngIf="mode==='index'" class="container">
    <div class="row mb-3">
      <div class="col">
        <h2>Name</h2>
      </div>
      <div class="col">
        <h2>Description</h2>
      </div>
      <div class="col">
        <h2>Image URL</h2>
      </div>
      <div class="col">
        <h2>        </h2>
      </div>
    </div>

    <div *ngFor="let achievement of achievements"> 
      
      <div class="row mb-3"  (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="achievement.name">
      
      <div class="col">
        {{achievement.name}}
      </div>
      <div class="col">
        {{achievement.description}}
      </div>
      <div class="col">
          {{achievement.imageUrl}}
      </div>
      <div class="col">
        <button (click)="addGoalForm(achievement)"> Add Goal</button>
      </div>
    </div>
      <div id="achievement.name" [ngbCollapse]="!isCollapsed" class="row">
        <div class="card">
          <div class="card-body">
            <div *ngFor="let goal of achievement.goals">
              <div class="col">
                {{goal.name}}
              </div>
              <div class="col">
                {{goal.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





    <!-- <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Image URl</th>
          <th> </th>
        </tr>
      </thead>
        <span *ngFor="let achievement of achievements">
          <tr>
            <td>
              {{achievement.name}}
            </td>
            <td>
              {{achievement.description}}
            </td>
            <td>
              {{achievement.imageUrl}}
            </td>
            <td>
              <button (click)="addGoalForm(achievement)"> Add Goal </button>
            </td>
            <tr>
              <td>
                <div class="collapse" id="achievementGoals">
                    <tr **ngFor="let item of list"></tr>
                  
                </td>
              </div>
            </tr>
          </tr>
        </span>


    </table> -->
  </div>
  <button (click)="addAchievementForm()">Add Achievement</button>

</div>


<!-- <table>
    <tr>
      <th> Task </th>
      <th> Mark </th>
      <th> Completed </th>
    </tr>
    <tr *ngFor="let todo of todos | incomplete:showAllTodos" [ngClass]="formatCompletedTodo(todo)" >
      <td (click)="setSelected(todo)"> {{todo.task}} </td>
      <td> <input type="checkbox" name="completed" [(ngModel)]="todo.completed" /> </td>
      <td (click)="setSelected(todo)"> {{todo.completed}} </td>
    </tr>
  </table> -->