<div class="containerAchievements" *ngIf="mode === 'index'">
  <div class= "form-card">
    <div class="row mb-3">
      <div class="col">
        <h4> Name </h4>
      </div>
      <div class="col">
        <h4> Description </h4>
      </div>
      <div class="col">
        <h4> Image </h4>
      </div>
      <div class="col">
        <h4> </h4>
      </div>
    </div>

    <div *ngFor="let achievement of achievements">

      <div class="row mb-3" (click)="isCollapsed[achievement.id] = !isCollapsed[achievement.id]"
        [attr.aria-expanded]="!isCollapsed[achievement.id]" [attr.aria-controls]="achievement.id">

        <div class="col">
          {{achievement.name}}
        </div>
        <div class="col">
          {{achievement.description}}
        </div>
        <div class="col">
          <img src="{{achievement.imageUrl}}" alt="">
          <!-- {{achievement.imageUrl}} -->
        </div>
        <div class="col">
          <button (click)="achievementEditForm(achievement)"> Edit </button>


        </div>
      </div>
      <div id="{{achievement.id}}" [ngbCollapse]="!isCollapsed[achievement.id]" class="row">
        <div class="card">
          <div class="card-body">
            <ul>
              <li *ngFor="let goal of achievement.goals">
                {{goal.name}}
                <br>
                {{goal.description}}
              </li>
            </ul>
            <div *ngFor="let goal of achievement.goals">
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button (click)="addAchievementForm()">Add Achievement</button>
  </div>
</div>
<div class="containerAchievements" *ngIf="mode === 'achievementEditForm'">
  <div class= "form-card">
    <h1>{{selectedAchievement.name}}</h1>
    <h3>Goals:</h3>
    <ul>
      <li *ngFor="let goal of selectedAchievementGoals">
        {{goal.name}}: {{goal.description}} <button (click)="editGoalForm(goal)"> Edit </button> <button
          (click)="deleteGoal(goal)">Delete</button>
      </li>
    </ul>

    <!-- these buttons will expand and contract the new Goal, or add existing Goal menues -->
    <button type="button" class="btn btn-outline-primary" (click)="isNewGoal = !isNewGoal"
      [attr.aria-expanded]="!isNewGoal" aria-controls="newGoalForm">
      New Goal
    </button>

    <button type="button" class="btn btn-outline-primary" (click)="isEditAchievement = !isEditAchievement"
      [attr.aria-expanded]="!isEditAchievement" aria-controls="editAchievementForm">
      Edit this Achievement
    </button>

    <button type="button" class="btn btn-outline-primary" (click)="isDeleteAchievement = !isDeleteAchievement"
      [attr.aria-expanded]="!isDeleteAchievement" aria-controls="deleteAchievementForm">
      Delete this Achievement
    </button>


    <div id="newGoalForm" [ngbCollapse]="isNewGoal">
      <div class="card">
        <div class="card-body">
          <form action="">
            <h4>Goal Name:</h4>
            <input type="text" name="goalName" [(ngModel)]="newGoal.name">
            <h4>Goal Description:</h4>
            <input type="text" name="goalDescription" [(ngModel)]="newGoal.description">
          </form>
          <button (click)="addGoalToAchievement()">Add Goal to this Achievement</button>


        </div>
      </div>
    </div>

    <div id="deleteAchievementForm" [ngbCollapse]="!isDeleteAchievement">
      <div class="card">
        <div class="card-body">
          <form action="">
            <h4>Delete this Goal: Are you sure?</h4>
            <button (click)="deleteAchievement(selectedAchievement)"> Yes - Delete this whole Achievement</button>

          </form>
        </div>
      </div>
    </div>

    <div id="isEditAchievement" [ngbCollapse]="!isEditAchievement">
      <div class="card">
        <div class="card-body">
          <form action="">
            <h4>Achievement Name: </h4>
            <input type="text" name="achievementName" [(ngModel)]="selectedAchievement.name">
            <h4>Achievement Name: </h4>
            <input type="text" name="achievementDescription" [(ngModel)]="selectedAchievement.description">
            <h4>Achievement Image URL: </h4>
            <input type="text" name="achievementImageUrl" [(ngModel)]="selectedAchievement.imageUrl">
            <br>
            <button (click)="saveAchievement()"> Save Changes </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="containerAchievements" *ngIf="mode === 'editGoalForm'">
  <div class= "form-card">
    <form action="">
      <h4>Goal Name:</h4>
      <input type="text" name="goalName" [(ngModel)]="selectedGoal.name">
      <h4>Goal Description:</h4>
      <input type="text" name="goalDescription" [(ngModel)]="selectedGoal.description">
    </form>
  </div>
  <button (click)="goBack()"> Go Back </button>
</div>

<div class="containerAchievements" *ngIf="mode === 'addAchievementForm'">
  <div class= "form-card">
    <form action="">
      <h4>Achievement Name:</h4>
      <input type="text" name="newAchievementName" [(ngModel)]="selectedAchievement.name">
      <h4>Achievement Description:</h4>
      <input type="text" name="newAchievementDescription" [(ngModel)]="selectedAchievement.description">
      <h4>Achievement Image URL:</h4>
      <input type="text" name="newAchievementImageUrl" [(ngModel)]="selectedAchievement.imageUrl">
    </form>
    <button (click)="goBack()"> Go Back </button>
    <button (click)="addNewAchievement()"> Add This Achievement </button>
  </div>
</div>
