<div class="container">
  <form #LoginForm="ngForm" class="form-signin">
    <h2 class="form-heading">Log in</h2>

    <div class="form-group">
        <!-- <span>${message}</span> -->
        <input name="username" type="text" class="form-control" placeholder="Username"
               autofocus="true" ngModel/>
        <input name="password" type="password" class="form-control" placeholder="Password" ngModel/>
        <!-- <span>${error}</span> -->
        <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->

        <button class="btn btn-lg btn-primary btn-block" (click)="login(LoginForm)">Log In</button>
        <!-- <h4 class="text-center"><a href="${contextPath}/registration">Create an account</a></h4> -->
    </div>
  </form>
</div>
