.register-button {
  margin-right: 16px;
}

.deletIcon {
  color: #e14c55;
  background: none !important;
  border: none;
}
.deletIcon:focus {
  border: none;
  outline-color: white;
}

.editIcon {
  color: #35d2c8;
  background: none !important;
  border: none;
}
.editIcon:focus {
  border: none;
  outline-color: white;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.hide {
  display: none;
}
/* center loading info */
mat-footer-row mat-footer-cell {
  justify-content: center;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
button[type="color"]:focus,
.uneditable-input:focus {
  border-color: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
  outline-color: white;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}


/* You can add global styles to this file, and also import other style files */

div.container {
  margin: 0px 40px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

form.normal-form {
  margin: 10px;
}

.controles-container {
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
}

.add-bottom-padding {
  padding-bottom: 10px;
}
/* radio group */
mat-radio-group mat-radio-button {
  margin-left: 5px;
}

.button-row button {
  margin: 5px;
}

.hide {
  display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

/* location dropdown */
.location-div{
  margin-left: 25px;
}

/* filter  */
.search-div {
  margin-left: 10px;
}

.search-form-field {
  width: 60%;
  border-radius: 5px;
}
.search-form-field div.mat-form-field-underline {
  display: none;
}
.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}

/* create  btn */
.create-btn{
  border: none;
  color: #2469F9;
  float: right;
  font-size: 16px;
  padding-top:5px;
}

.create-btn:hover{
  border: none;
  color: rgb(124, 159, 235);
  }

  /*  table  */
.mat-cell{
    display:flex;
    justify-content:center;
}
.mat-header-cell {
  display:flex;
  justify-content:center;}
.btn-top{
  float:right;
}
.btn-reate-row{
  margin-top:-10px;
}



/* general styling buttons */
.saveBtn{
  color: white;
  background-color: #2DB9AE;
}
.remove-btn-border{
 border:none;
 background:none;
}

.containerMeeting{
  margin: 4%;
  border-top: solid 1px #ededed;
  padding-top: 20px;
  background-color: white;
}

mat-form-field {
  display: flex;
  align-content: space-evenly;
}


app-meeting.ng-star-inserted{
  background-image: url("https://img.freepik.com/free-vector/minimal-diagonal-zigzag-pattern-design_1017-15351.jpg?size=338&ext=jpg")
}

input.view {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #ededed solid 0.5px;
  margin-left: 5px;
}
input.view:focus {
  border-color: #cdcdcd solid 0.5px;
}

.containerMeeting {
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.56s cubic-bezier(0.25, 0.8, 0.25, 1);
	max-width: 800px;
  margin: 30px auto;
  padding: 10px;
}

.containerMeeting:hover, .containerMeeting:focus {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.containerMeeting:focus-within {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.meetingAttendees{
  margin-top: 20px;
}
button.ml-10.btn.mat-primary.mat-button {
  border: solid #009688 0.5px;
  margin: 10px;
  padding: 0px;
  height: 40px;
}
.editMeeting.ng-star-inserted {
  margin-top: 40px;
}

.form-card {
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.56s cubic-bezier(0.25, 0.8, 0.25, 1);
	max-width: 800px;
	padding: 40px;
	margin: 50px auto;
}
