<table class="table table-striped" >
  <thead>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Scheduled</th>
      <th *ngIf="isAuthorized" scope="col">Edit</th>
      <th *ngIf="isAuthorized" scope="col">Delete</th>
    </thead>
<tr *ngFor="let meeting of meetings " >
<td>{{meeting.name}}</td>
<td>{{meeting.location.name}}  </td>
<td>{{meeting.scheduledTime}}</td>
<td *ngIf="isAuthorized"><button (click)="setEditMeeting(meeting)">Edit</button>  </td>
<td *ngIf="isAuthorized"><button (click)='deleteMeeting(meeting)'>Delete</button>  </td>
</tr>
</table>

<!-- edit section -->
<div  *ngIf='editMeeting'>
  <form class='form'>
    <input type="text" name='name' [(ngModel)]="meeting.name" class='form-control'> <br>
    <input type="text" name='scheduledTime' [(ngModel)]="meeting.scheduledTime" class='form-control'> <br>
    <input type="text" name='completed' [(ngModel)]="meeting.location.name" class='form-check-input'>
    <button (click)='editMeeting=null' class='btn btn-danger'>Cancel</button>
    <button (click)='updateMeeting(meeting)' class='btn btn-success'>Save</button>
  </form>
</div>

  <!-- create -->
  <div  *ngIf="isAuthorized">
      <form>
          <div class="form-group">
          <input lass="form-control" type="text"
            name="task" placeholder="name" [(ngModel)]="newMeeting.name"/>
            <input lass="form-control" type="text"
            name="task" placeholder="date" [(ngModel)]="newMeeting.scheduledTime"/>
          <input class=" ml-2 btn btn-outline-success"
            type="submit" value="Add Item" (click) = "addMeeting();">
          </div>
        </form>
  </div>
